:root {
    --main-color: #A97F40;
}

body {
    background: #141e30;
    background: -webkit-linear-gradient(to right,#243b55,#141e30);
    background: linear-gradient(to right, #243b55, #141e30);
}

#Register form {
    background: #ada996;
    background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    width: 500px;
}

#Register form,
i {
    color: var(--main-color);
}
#Search .input-group {
    width: 300px;
    margin: auto;
}
table.table {
    width: max-content;
    min-width: 100%;
}