@media (max-width: 1300px) {
    #Register .head img {
        width: 30%;
    }
    #Register .body form {
        width: 280px;
    }
    #Search .input-group {
        width: 250px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    
}

@media (min-width: 577px) and (max-width: 1300px) {
    #Register .head img {
        width: 25%;
    }
    #Register .body form {
        width: 350px;
    }
    #Search .input-group {
        width: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    #Register .head img {
        width: 20%;
    }
    #Register .body form {
        width: 400px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    #Register .head img {
        width: 15%;
    }
    #Register .body form {
        width: 500px;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {

}